<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="jumbotron mt-5">
        <h1 class="display-4">Reservation Successful!</h1>
        <p class="lead">Thank you, <span th:text="${reservation.name}"></span>, for your reservation.</p>
        <a href="/home" class="btn btn-primary mt-3">Back to Home</a>
    </div>
</div>

</body>
</html>