<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservations</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="mt-5 mb-4">Your Reservations</h1>
    <div class="card">
        <div class="card-body">
            <ul class="list-group">
                <li th:each="reservation : ${reservations}" class="list-group-item">
                    <strong>Name:</strong> <span th:text="${reservation.name}"></span><br>
                    <strong>CNP:</strong> <span th:text="${reservation.cnp}"></span><br>
                    <strong>Start Date:</strong> <span th:text="${reservation.startDate}"></span><br>
                    <strong>Number of Nights:</strong> <span th:text="${reservation.numNights}"></span><br>
                    <strong>Payment Method:</strong> <span th:text="${reservation.payMethod} == 'ONLINE' ? 'Online' : 'At Location'"></span><br>
                    <strong>Room ID:</strong> <span th:text="${reservation.roomId}"></span>
                    <button class="btn btn-info mb-3 float-right" th:onclick="'window.location.href=\'/reservationDetails/' + ${reservation.id} + '\';'">Details</button>
                </li>
                </li>
            </ul>
        </div>
    </div>
    <a href="/home" class="btn btn-primary mt-3">Back to Search</a>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
